.reservation{

    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;    
    border-radius: 25px;
    display: center;
    width: 750px;
    height: auto;
    
    
    .datas{
        
        form{
            display: flex;
        }
        
        h1{
            color: aliceblue;
        }
        .input{
            
            width: 250px;
        }      
        .input-field{
           text-align: center;
            width: 155px;
            height: 30px;
            background-color: beige;
            &:hover{
                background-color: aqua;
                border-radius: 25px;
            }
        }
    }
}
.color{
    
    color: aliceblue;
    
}

